<!DOCTYPE html>
<html lang="ru">
<head>
  {{> head}}
</head>
<body>
{{> header}}

{{#> content-shell}}
<section id="section_code" class="section section_code">
  <h3 class="section_title">My code</h3>
  <pre class="code"><code>def f():
    print("Hello world!")
</code></pre>
  <pre class="ascii_graphic_ill_be_back">.___/\.__  .__    ___.            ___.                  __
|   )/|  | |  |   \_ |__   ____   \_ |__ _____    ____ |  | __
|   | |  | |  |    | __ \_/ __ \   | __ \\__  \ _/ ___\|  |/ /
|   | |  |_|  |__  | \_\ \  ___/   | \_\ \/ __ \\  \___|    <
|___| |____/____/  |___  /\___  >  |___  (____  /\___  >__|_ \
                     \/     \/       \/     \/     \/     \/</pre>
</section>

<section id="section_table" class="section section_table">
  <h3 class="section_title">My Table</h3>
  <div class="table-container">
    <table>
      <thead class="table-header">
      <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Location</th>
      </tr>
      </thead>
      <tbody>
      {{#each teamMembers}}
      {{> team-member-row}}
      {{/each}}
      </tbody>
    </table>
  </div>
</section>
{{/content-shell}}

{{> footer}}
</body>
</html>
